.body {
    background: transparent;
    display: block;
    line-break: strict;
    white-space: pre-wrap;
    width: 100%
    }
.c {
    background: transparent;
    line-height: 1.2
    }
.c1 {
    background: transparent;
    font-family: "Times";
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2
    }
.c2 {
    background: transparent;
    font-family: "Times";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2
    }
.c3 {
    background: transparent;
    font-family: "Helvetica";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2
    }
.c4 {
    background: transparent;
    color: #000;
    font-family: "Times";
    font-size: 1em;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400
    }
.c5 {
    background: transparent;
    color: #000;
    font-family: "Helvetica";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400
    }
.c6 {
    background: transparent;
    color: #000;
    font-family: "Nanum Myeongjo";
    font-stretch: normal;
    font-style: normal;
    font-weight: 400
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block;
    line-height: 1.2
    }
.calibre2 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre3 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre4 {
    display: list-item
    }
.calibre5 {
    text-decoration: none
    }
.nav-body {
    display: block;
    line-break: strict;
    white-space: pre-wrap
    }
.p {
    -webkit-hyphens: none;
    -webkit-text-stroke-color: initial;
    -webkit-text-stroke-width: initial;
    color: #000;
    display: block;
    font-family: "Times";
    font-size: 1.29167em;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    hyphens: none;
    letter-spacing: 0;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0;
    text-shadow: none;
    text-transform: none
    }
.p1 {
    -webkit-hyphens: none;
    -webkit-text-stroke-color: initial;
    -webkit-text-stroke-width: initial;
    color: #000;
    display: block;
    font-family: "Times";
    font-size: 1em;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    hyphens: none;
    letter-spacing: 0;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: 0;
    text-shadow: none;
    text-transform: none
    }
.p2 {
    -webkit-hyphens: none;
    -webkit-text-stroke-color: initial;
    -webkit-text-stroke-width: initial;
    color: #000;
    display: block;
    font-family: "Times";
    font-size: 1em;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    hyphens: none;
    letter-spacing: 0;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: 0;
    text-shadow: none;
    text-transform: none
    }
.p3 {
    -webkit-hyphens: none;
    -webkit-text-stroke-color: initial;
    -webkit-text-stroke-width: initial;
    break-after: page;
    color: #000;
    display: block;
    font-family: "Nanum Myeongjo";
    font-size: 1em;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    hyphens: none;
    letter-spacing: 0;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: always;
    text-align: left;
    text-indent: 0;
    text-shadow: none;
    text-transform: none
    }
.p4 {
    -webkit-hyphens: none;
    -webkit-text-stroke-color: initial;
    -webkit-text-stroke-width: initial;
    color: #000;
    display: block;
    font-family: "Nanum Myeongjo";
    font-size: 1em;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    hyphens: none;
    letter-spacing: 0;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: 0;
    text-shadow: none;
    text-transform: none
    }
.p5 {
    -webkit-hyphens: none;
    -webkit-text-stroke-color: initial;
    -webkit-text-stroke-width: initial;
    color: #000;
    display: list-item;
    font-family: "Times";
    font-size: 0.83333em;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    hyphens: none;
    letter-spacing: 0;
    line-height: 1.227em;
    list-style-position: inside;
    list-style-type: decimal;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 5.453%;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-indent: -3.787%;
    text-shadow: none;
    text-transform: none
    }
.pcalibre1:before {
    -webkit-text-stroke-color: initial;
    -webkit-text-stroke-width: initial;
    color: #000;
    content: "";
    font-family: "Times";
    font-size: 100%;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    margin-left: -0.3em;
    padding-left: 1.068%;
    text-shadow: none
    }
.pcalibre:before {
    -webkit-text-stroke-color: initial;
    -webkit-text-stroke-width: initial;
    color: #000;
    content: "";
    font-family: "Times";
    font-size: 100%;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    margin-left: -0.3em;
    padding-left: 2.243%;
    text-shadow: none
    }
.pcalibre2:link {
    color: inherit
    }
.pcalibre3:visited {
    color: inherit
    }
.pcalibre4:hover {
    color: inherit
    }
.pcalibre5:active {
    color: inherit
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 100%;
    font-family: "Times";
    font-variant: normal;
    src: url(fonts/000002.ttf) format(truetype)
    }
@font-face {
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
    font-size: 112.5%;
    font-family: "Times";
    font-variant: normal;
    src: url(fonts/000001.ttf) format(truetype)
    }
@font-face {
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 100%;
    font-family: "Nanum Myeongjo";
    font-variant: normal;
    src: url(fonts/000000.ttf) format(truetype)
    }

